.Nav {
  width: auto;
  margin:40px 40px 0 40px;
  
}
.NavPic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

@media screen and (max-width:750px) {
  .Nav {
    margin: 20px 20px 0 20px;
  }
  .NavPic {
    width: 80px;
    height: 80px;
  }
  
}

